mat-card {
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

mat-card img {
  width: 100%;
  height:auto;
  object-fit: fill;
}

mat-card-title {
  font-size: 16px;
  font-weight: bold;
}

mat-card-title:nth-of-type(2) {
  font-size: 12px;
  color: gray;
}
::ng-deep .mat-mdc-card-header {
  padding: 0px !important;
}
