<mat-card class="movie-card">
  <mat-card-header>
    <mat-card-title>{{ movie.title }}</mat-card-title>
    <mat-card-title>{{ movie.year }}</mat-card-title>
  </mat-card-header>

  <!-- Display the current image -->
  <img
    mat-card-image
    [src]="movie.images[currentImageIndex]"
    alt="{{ movie.title }} image"
  />

  <mat-card-actions>
    <button mat-button (click)="prevImage()">
      <mat-icon>navigate_before</mat-icon> Previous
    </button>
    <button mat-button (click)="nextImage()">
      Next <mat-icon>navigate_next</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
