<mat-card class="movie-card">
  <mat-card-header>
    <mat-card-title>{{ movie.Title }}</mat-card-title>
    <mat-card-subtitle>{{ movie.Year }}</mat-card-subtitle>
  </mat-card-header>

  <mat-tab-group>
    <mat-tab *ngFor="let image of movie.Images">
      <ng-template mat-tab-label>
        <img [src]="image" class="tab-thumbnail" alt="Thumbnail" />
      </ng-template>
      <div class="img-wrapper">
        <img mat-card-image [src]="image" alt="{{ movie.Title }}" />
      </div>
    </mat-tab>
  </mat-tab-group>

  <mat-card-actions class="card-actions">
    <button mat-raised-button color="primary" (click)="toggleFavorite()">
      {{ isFavorite ? "Unfavorite" : "Favorite" }}
    </button>
    <!-- <button
      mat-raised-button
      color="accent"
      [routerLink]="'/editMovie/' + movie.imdbID"
    >
      Edit
    </button> -->
  </mat-card-actions>
</mat-card>
